/lib
/dist
/docs
/workdocs/drawings/*
/workdocs/uml/*
!/workdocs/drawings/*.drawio
!/workdocs/uml/*.puml
/.idea
!/.idea/runConfigurations
/.token
/.npmtoken
/node_modules

# Ignore everything in /workdocs/coverage
/workdocs/coverage/*

# Allow specific badge files
!/workdocs/coverage/badge-branches.svg
!/workdocs/coverage/badge-functions.svg
!/workdocs/coverage/badge-lines.svg
!/workdocs/coverage/badge-statements.svg
/temp